* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black
}

.calculator {
  background: #ffffff;
  border:3px solid green;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
 
}

.display {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ddd;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 18px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #f1f1f1;
  transition: 0.2s ease;
}

button:hover {
  background: #ddd;
}

.operator {
  background: #667eea;
  color: white;
}

.operator:hover {
  background: #5a67d8;
}

.equal {
  background: #38a169;
  color: white;
}

.equal:hover {
  background: #2f855a;
}

.zero {
  grid-column: span 2;
}